body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#image {
    height: 200px;
}

#serial {
  display: inline;
}
#question {
  display: inline;
}

#progress {
  width: 50%;
  background-color: #ddd;
}

#bar {
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
}
